<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
{% endif %}
<p>You visited this page {{ visits }} times.</p>
<h1>Phone Brands</h1>

<ul>
{% for brand in brands %}
    <li>
        <a href="{% url 'brand_models' brand.id %}">
            {{ brand.name }}
        </a>
    </li>
{% endfor %}
</ul>

</body>
</html>